<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new inquery from <%= @contact.first_name %>!</p>
    <p>
    Contact details<br>
    --------------------------
    </p>
    <p> <%=  t(:first_name) %>: <%= @contact.first_name %></p>
    <p> <%= t(:email) %>: <%= @contact.email %></p>
    <p> <%= t(:phone) %>: <%= @contact.phone %></p>
    <p>
    <%= t(:message) %><br>
    ----------
    </p>
    <p><%= @contact.message %></p>
  </body>
</html>